<div id="page-top">
    <app-navbar></app-navbar>
    <div class="container-fluid  main-background page-section">
        <router-outlet></router-outlet>

    </div>

    <!-- Footer -->
    <footer class="bg-tp-footer">
        <div class="container">
            <!-- 
                <p class="m-0 text-center text-white">Copyright &copy; Teleperformance 2020</p>
            -->
            <div class="row justify-content-center">
                <img class="footer-img" src="../../../assets/img/tp-blanco.png" alt="">
            </div>
        </div>
        <!-- /.container -->
    </footer>
</div>